@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import "tailwindcss";

@layer base {
  body {
    font-family: 'Nunito', sans-serif;
  }
}

.black-111 {
    background-color: #111111;
}

.black-222 {
    background-color: #222222;
}

.black-333 {
    background-color: #333333;
}

.black-1a1 {
    background-color: #1a1a1a;
}
